{
  "presets": ["babel-preset-react"],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "error_handler": "./src/errorhandler.js",
          "client_config": "./.storybook/dynamo_client_config/config.js",
          "call_api": "./.storybook/dynamo_client_config/call_api.js"
        }
      }
    ]
  ]
}
