{
  "presets": ["babel-preset-react"],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    [
      "babel-plugin-module-resolver",
      {
        "cwd":"babelrc",
        "alias": {
          "error_handler": "./src/errorhandler.js",
          "client_config": "./.storybook/furmly_client_config/config.js"
        }
      }
    ]
  ]
}
